footer {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    background-color: rgba(0, 0, 0);
}

#footernav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none;
}

.footnavlink {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: none;
    text-align: center;

    transition: transform 0.2s ease, font-weight 0.2s ease, text-shadow 0.2s ease;
}

.footnavlink:hover {
    transform: scale(1.2);
    font-weight: bolder;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.75), 0 0 2px rgba(255, 255, 255, 0.5), 0 0 3px rgba(255, 255, 255, 0.25);
}

#footmainbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: transparent;
    border: none;
}

.footsubbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 125px;
    background-color: rgba(104, 104, 104, 0.225);
    border-radius: 25px;

    transition: transform 0.3s ease;
}

.footsubbox:hover {
    transform: scale(1.1);
}

#footbox1 {
    flex-direction: row;
}
