* {
    font-family: "Sulphur Point", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: transparent;
    margin: 0;
    padding: 0;
    /* cursor: url("Cursor/cursor.cur"), auto; */
}

/* Cover Canvas */

.canvascontainer {
    position: relative;
    width: 100%;
    height: 700px;
    background: radial-gradient(circle at 50% 75%, #d1d1d1 0%, #b8b8b8 15%, #a1a1a1 30%, #808080 45%, #535353 60%, #3f3f3f 75%, #1f1f1f 100%);
    overflow: hidden;
}

#networkcanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
}

#typingbox {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#covertext {
    font-size: 6rem;
    font-weight: normal;
    color: rgb(0, 0, 0);

}

.cursor {
    font-size: 7rem;
    font-weight: 100;
    color: rgb(0, 0, 0);
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

/* Header Curve Design for other Pages */

.headercurve {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5rem;
    background: radial-gradient(ellipse at 50% 50%, #292929 0%, #171717 25%, #000000 100%);
    overflow: hidden;
}

/* Semantic Elements */

.section {
    position: relative;
    padding: 50px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: transparent;
}

.section2 {
    position: relative;
    padding: 50px;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: transparent;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: start;
}

#profilename {
    margin: 0;
    margin-bottom: 25px;
    padding: 5px;
}

#profilepic {
    height: 400px;
    width: 400px;
    border-radius: 50%;

}

.profilepara {
    margin-top: 25px;
    padding: 5px;
    font-size: 25px;
    font-style: italic;
    max-width: 100%;
}

#linkedinprofile {
    height: 32px;
    width: 32px;
    margin-top: 1.75rem;
}

/* Text Elements */

.heading1 {
    margin: 25px;
    padding: 10px;
    width: max-content;
    font-size: 3rem;
    font-weight: bolder;
    background-color: transparent;
}

.heading2 {
    margin: 20px;
    padding: 10px;
    width: max-content;
    font-size: 2rem;
    font-weight: bolder;
    background-color: transparent;
}

.para {
    margin: 25px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    max-width: 75%;
    background-color: transparent;
}

/* Button Styles */

/* Style 1 */

.btnstyl1 {
    display: inline-block;
    padding: 20px;
    margin: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 25px;
    box-shadow: none;

    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
}

.btnstyl1:hover {
    transform: scale(1.2);
    font-size: scale(1.2);
    font-weight: bolder;
    color: black;
    background-color: white;
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Style 2 */

.btnstyl2 {
    display: inline-block;
    padding: 20px;
    margin: 25px;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    background-color: white;
    border: none;
    border-radius: 25px;
    box-shadow: none;

    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
}

.btnstyl2:hover {
    transform: scale(1.2);
    font-size: scale(1.2);
    font-weight: bolder;
    color: white;
    background-color: black;
    box-shadow: 0 0 1px 3px rgba(255, 255, 255, 0.1);
}


a, button, input[type="submit"] {
    /* cursor: url("Cursor/pointer.cur"), auto; */
}

/* Social Media Icons Style */

#sociallinks {
    padding: 25px;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#sociallinks a {
    background-color: transparent;
}

.socialicons {
    width: 30px;
    height: 30px;

    transition: transform 0.3s ease;
}

.socialicons:hover {
    transform: scale(1.5);
}